@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

.flex-center {
  @apply flex items-center justify-center;
}
.input {
  @apply border border-lightGray/10 text-textClr px-2 bg-transparent rounded-sm h-10 outline-0 placeholder:text-textClr text-sm;
}
::-webkit-scrollbar {
  display: none;
}
